@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

:root {
    /* GERAL */
    --textColorWhite: #1a1a1a;
    --descriptionText: rgba(0, 0, 0, 0.7);
    --redText: #d93025;
    --textImportant: #e67e22;
    --backgroundDark: #ffffff;

    /* SCROLL DA PÁGINA */
    --scrollBackground: #ffffff;
    --scrollColor: #cccccc;

    /* HIGHLIGHT */
    --borderHighlightDark: #e0e0e0; /* Borda clara */
    --highlightDark: #f5f5f5; /* Destaque sutil no fundo claro */
    --yellowHighlight: #f4b400; /* Amarelo mais vibrante e visível no fundo claro */

    /* CAIXA DE TEXTO (OBSERVAÇÃO - VERMELHA) */
    --borderRedHighlight: #ff4c4c;
    --boxRedBackground: rgba(255, 204, 204, 0.5);
    --toastRedBackground: #ffcccc;

    /* CAIXA DE TEXTO (IMPORTANTE - AMARELA) */
    --borderImportant: #f4a261;
    --boxImportant: rgba(244, 162, 97, 0.2);
    --toastImportant: #fff4e5;

    /* GITBOOK COLOR'S */
    --gitbookGoldYellow: #e1c765; /* Amarelo mais claro */
    --gitbookBlue: #2563eb; /* Mantido para consistência */
    --gitbookGreen: #22c55e; /* Mantido para consistência */
    --gitbookRed: #d93025; /* Ajustado para fundo claro */
    --gitbookPurple: #8e44ad; /* Roxo mais vibrante */
    --gitbookGreen2: #34d399; /* Verde mais vibrante */
    --gitbookBurnedYellow: #ffcc00; /* Amarelo queimado adaptado */

    /* MENU LATERAL */
    --textMenuColor: #1a1a1a;
    --colorHoverMenu: #efeff0;
    --linhaLateralMenu: #eaeaee;

    /* QUADRO DE ABAS */
    --text-color-hover: #c2bfbf;
    --tabChosen: #e0e0e0;

    /* CALCULADORA PENAL */
    --principalBackground: #ffffff;
    --principalText: #333333;
    --fundoCabecalho: #f9f9f9;
    --textDourado: #d17c00;
    --minimasBackground: #f1f1f1;
    --minimasText: #555555;
    --valoresBackground: #f9f9f9;
    --valoresText: #333333;
    --valoresBorda: #dddddd;
    --textButton: #ffffff;
    --resultadosBackground: #f1f1f1;
    --textBackground: #555555;
    --boxInfo: #f9f9f9;
    --primary-color: #1d4ed8;
    --gray-600: #6b7280;
    --gray-900: #1f2937;
}

[data-theme="dark"] {
    /* GERAL */
    --textColorWhite: #dedede;
    --descriptionText: rgba(201, 201, 201, 0.1);
    --redText: #ef4444;
    --textImportant: #FF9D00;
    --backgroundDark: #2e3035;

    /* SCROLL DA PÁGINA */
    --scrollBackground: #2e3035;
    --scrollColor: #6d6b6b;

    /* HIGHLIGHT */
    --borderHighlightDark: #1e1f22;
    --highlightDark: #2b2d31;
    --yellowHighlight: #e88f00;
    
    /* CAIXA DE TEXTO (OBSERVAÇÃO - VERMELHA) */
    --borderRedHighlight: #B00000;
    --boxRedBackground: rgba(107, 0, 0, .4);
    --toastRedBackground: #6B0000;

    /* CAIXA DE TEXTO (IMPORTANTE - AMARELA) */
    --borderImportant: #FF9900;
    --boxImportant: rgba(126, 78, 0, .4);
    --toastImportant: #7E4E00;

    /* GITBOOK COLOR'S */
    --gitbookGoldYellow: #c3b571;
    --gitbookBlue: #3b82f6;
    --gitbookGreen: #22c55e;
    --gitbookRed: #e34242;
    --gitbookPurple: #7622c5;
    --gitbookGreen2: #1ee667;
    --gitbookBurnedYellow: #ffbf00;

    --borderHR: #1e1f22;

    /* MENU LATERAL */
    --textMenuColor: #dedede;
    --colorHoverMenu: #27272a;
    --linhaLateralMenu: #27272a;

    /* QUADRO DE ABAS */
    --text-color-hover: #ffffff;
    --tabChosen: #1e1f22;

    /* CALCULADORA PENAL */
    --principalBackground: #1e1e2f;
    --principalText: #ffffff;
    --fundoCabecalho: #27293d;
    --textDourado: #f5c242;
    --minimasBackground: #2c2f48;
    --minimasText: #d1d1d1;
    --valoresBackground: #3f3f5e;
    --valoresText: #ffffff;
    --textButton: #ffffff;
    --resultadosBackground: #2c2f48;
    --textBackground: #d1d1d1;
    --boxInfo: #3f3f5e;
    --primary-color: #2563eb;
    --gray-600: #4b5563;
    --gray-900: #111827;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: "SUSE", sans-serif;
    word-wrap: break-word;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--backgroundDark);
    color: var(--textColorWhite);
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--scrollBackground);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollColor);
    border-radius: 10px;
    border: 3px solid var(--scrollBackground);
}

::-webkit-scrollbar-thumb:hover {
    background: #999999;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollColor) var(--scrollBackground);
}

::-webkit-scrollbar-track-piece {
    background: #e6e6e6;
}


header {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

header img {
    width: 90vw;
    max-width: 768px;
    border-radius: 10px;
}

p img {
    height: 20px;
}

.title, .content {
    width: 90vw;
    max-width: 768px;

    position: relative;
    left: 50%;
    transform: translate(-50%);

    background: var(--highlightDark);
    border-radius: 10px;
    border: 1px solid var(--borderHighlightDark);

    padding: 25px;
}

.description {
    margin: 0;
    text-align: justify;
}

.content {
    text-align: justify;
    margin: 10px 0 20px 0;
}

h1 {
    word-wrap: break-word;
    margin-bottom:10px;
    font-weight: 900;
    
}

.content h2 {
    word-wrap: break-word;
    text-align: justify;
    margin-bottom: 20px;
}

p {
    margin: 20px 0;
    font-weight: 300;
}

hr {
    border: 1px solid var(--borderHighlightDark);
    border-radius: 15px;
    margin: 20px 0;
}

.embed-highlight {
    background: var(--backgroundDark);
    border: 1px solid var(--borderHighlightDark);
    border-radius: 10px;
    padding: 20px 15px 0 15px;
}

/* TEMAS DA PÁGINA */
.theme-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

.theme-toggle button {
    background-color: var(--bg-color);
    color: var(--textColorWhite);
    border: 2px solid var(--border-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.theme-toggle button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.theme-toggle .sun-icon,
.theme-toggle .moon-icon {
    position: absolute;
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.theme-toggle .sun-icon {
    opacity: 1;
    transform: rotate(0deg);
}

.theme-toggle .moon-icon {
    opacity: 0;
    transform: rotate(90deg);
}

[data-theme="dark"] .theme-toggle .sun-icon {
    opacity: 0;
    transform: rotate(-90deg);
}

[data-theme="dark"] .theme-toggle .moon-icon {
    opacity: 1;
    transform: rotate(0deg);
}

/* CAIXA DE TROCA DE PÁGINA (FINAL) */
.button-container {
    width: 90vw;
    max-width: 768px;

    position: relative;
    left: 50%;
    transform: translate(-50%);

    margin: 20px 0;

    display: flex;
    justify-content: space-between;

    gap: 10px;
}

.button-container a {
    width: 50%;

    text-decoration: none;
    text-align: center;

    color: var(--textColorWhite);

    background: var(--highlightDark);
    border: 1px solid var(--borderHighlightDark);
    border-radius: 5px;

    outline: 3px solid transparent;

    padding: 15px 10px;

    transition: all .2s;
}

/* ESTILIZAÇÕES DE TEXTO */
li::marker {
    color: var(--borderHighlightDark);
}

ul, ol {
    margin-left: 20px;
    line-height: 25px;
}

h3, h4 {
    margin-bottom: 10px;
}

.listItem {
    margin-left: 20px
}

.listItem::marker {
    color: var(--descriptionText);
}

blockquote {
    border-left: 2px solid var(--borderHighlightDark);
    padding-left: 20px;
    margin-bottom: 20px;
}

.code{
    background: var(--borderHighlightDark);
    padding: .125rem .5rem;
    width: fit-content;
    font-size: 14px;
    border-radius: 5px;
    tab-size: 4px;
}

.linkClean {
    text-decoration: none;
    color: var(--textColorWhite);
}

/* RESPONSIVIDADES */
@media (max-width: 768px) {
    .button-container {
        display: flex;
        flex-direction: column;
    }

    .button-container a {
        width: initial;
    }
}

@media screen and (max-width: 1330px) {
    .theme-toggle {
        right: 1rem;
    }
}